<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><?= $title; ?></title>
  <link rel="stylesheet" href="<?= LIBS . 'bootstrap/css/bootstrap.css' ?>">
  <link rel="stylesheet" href="<?= CSS . 'index.css' ?>">
</head>
<body>
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="<?= FULL_SITE_ROOT . 'authors' ?>">Главная</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link <?= $title==='Авторы' ? 'active' : '' ?>" href="<?= FULL_SITE_ROOT . 'authors' ?>">Авторы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled <?= $title==='Книги' ? 'active' : '' ?>" href="<?= FULL_SITE_ROOT . 'books' ?>">Книги</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <?= $title==='Жанры' ? 'active' : '' ?>" href="<?= FULL_SITE_ROOT . 'genres' ?>">Жанры</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <?= $title==='Пол' ? 'active' : '' ?>" href="<?= FULL_SITE_ROOT . 'genders' ?>">Пол</a>
            </li>
            <? if($this->isAuthorized): ?>
              <li class="nav-item">
                <a class="nav-link" href="<?= FULL_SITE_ROOT . 'logout' ?>">
                  Выход
                </a>
              </li>
            <? else: ?>
              <li class="nav-item">
                <a class="nav-link <?= $title==='Авторизация' ? 'active' : '' ?>" href="<?= FULL_SITE_ROOT . 'auth' ?>">
                  Авторизация
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <?= $title==='Регистрация' ? 'active' : '' ?>" href="<?= FULL_SITE_ROOT . 'reg' ?>">
                  Регистрация
                </a>
              </li>
            <? endif; ?>
          </ul>
        </div>
      </div>
    </nav>
  </header>